<!DOCTYPE html>
<html>
  <%- include ("partial/head") %>
  
  <body>
    <%- include("partial/navbar") %>
    
    <div class = "container" style="margin-top:100px">
      <div class="row">
        <div class= "col-md-4">
          <h1>Edit your sighting</h1>
          <h3>It's ok if aliens wiped your memory</h3>
        </div>
        <div class = "col-md-8">
          <form action="/sighting/<%= sightingObj.index%>/edit?_method=PUT" method="POST">
            <div class="row form-group">
              <label for="summary" class="col-md-2 col-form-label">Summary</label>
              <input type="text" class="col-md-10 form-control" id="summary" name="summary" value="<%= sightingObj.summary%>">
            </div>
            <div class="row form-group">
              <label for="city" class="col-md-2 col-form-label">City</label>
              <input type="text" class="col-md-10 form-control" id="city" name="city" value="<%= sightingObj.city%>">
            </div>
            <div class="row form-group">
              <label for="state" class="col-md-2 col-form-label">State</label>
              <!-- <input type="text" class="col-md-10 form-control" id="state" name="state"> -->
              <select name="state" id="state" class="col-md-10 form-control" value="<%= sightingObj.state%>">
                <option hidden>Select a state</option>
                <option>Alabama</option>
                <option>Alaska</option>
                <option>Arizona</option>
                <option>Arkansas</option>
                <option>California</option>
                <option>Colorado</option>
                <option>Connecticut</option>
                <option>Delaware</option>
                <option>Florida</option>
                <option>Georgia</option>
                <option>Hawaii</option>
                <option>Idaho</option>
                <option>Illinois</option>
                <option>Indiana</option>
                <option>Iowa</option>
                <option>Kansas</option>
                <option>Kentucky</option>
                <option>Louisiana</option>
                <option>Maine</option>
                <option>Maryland</option>
                <option>Massachusetts</option>
                <option>Michigan</option>
                <option>Minnesota</option>
                <option>Mississippi</option>
                <option>Missouri</option>
                <option>Montana</option>
                <option>Nebraska</option>
                <option>Nevada</option>
                <option>New Hampshire</option>
                <option>New Jersey</option>
                <option>New Mexico</option>
                <option>New York</option>
                <option>North Carolina</option>
                <option>North Dakota</option>
                <option>Ohio</option>
                <option>Oklahoma</option>
                <option>Oregon</option>
                <option>Pennsylvania</option>
                <option>Rhode Island</option>
                <option>South Carolina</option>
                <option>South Dakota</option>
                <option>Tennessee</option>
                <option>Texas</option>
                <option>Utah</option>
                <option>Vermont</option>
                <option>Virginia</option>
                <option>Washington</option>
                <option>West Virginia</option>
                <option>Wisconsin</option>
                <option>Wyoming</option>
              </select>
            </div>
            <div class="row form-group">
              <label for="date_time" class="col-md-2 col-form-label">Date-time</label>
              <input type="text" class="col-md-10 form-control" id="date_time" name="date_time" placeholder="dd/mm/yy hh:mm" value="<%= sightingObj.date_time%>">
            </div>
            <div class="row form-group">
              <label for="shape" class="col-md-2 col-form-label">Shape</label>
              <input type="text" class="col-md-10 form-control" id="shape" name="shape" value="<%= sightingObj.shape%>">
              <!-- <% if (sightingObj.shape === "") return "is-invalid";%> HELLPPP $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
            </div>
            <div class="row form-group">
              <label for="duration" class="col-md-2 col-form-label">Duration</label>
              <input type="text" class="col-md-10 form-control" id="duration" name="duration" value="<%= sightingObj.duration%>">
            </div>
            <div class="row form-group">
              <label for="report" class="col-md-2 col-form-label">report</label>
              <input type="text" class="col-md-10 form-control" id="report" name="text" value="<%= sightingObj.text%>">
            </div>
            <button class="btn btn-sm btn-primary" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>

    <%- include("partial/body-js") %>
  </body>
</html>