<!DOCTYPE html>
<html>  
  <%- include ("partial/head") %>

  <body>
    <!-- Navbar -->
    <%- include ("partial/navbar") %>

    <div class = "container" style="margin-top:100px">
      <div class = "row">
        <div class = "col-12">
          <h1>Sighting at <%= sightingObj.city %> on <%= sightingObj.date_time %></h1>
        </div>
        <div class="col-12">
          <p><i><%= sightingObj.summary %></i></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h3>City</h3>
          <p><%= sightingObj.city%></p>
        </div>
        <div class="col-md-4">
          <h3>State</h3>
          <p><%= sightingObj.state%></p>
        </div>
        <div class="col-md-4">
          <h3>Date Time</h3>
          <p><%= sightingObj.date_time%></p>
        </div>
        <div class="col-md-4">
          <h3>Shape</h3>
          <p><%= sightingObj.shape%></p>
        </div>
        <div class="col-md-4">
          <h3>Duration</h3>
          <p><%= sightingObj.duration%></p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <h3>Report</h3>
          <p><%= sightingObj.text %></p>
        </div>
      </div>
    </div>


    <!-- Required javascript -->
    <%- include ("partial/body-js") %>
  </body>
</html>